<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">zora</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item" [routerLinkActive]="['link-active']"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
                    </li>

                    <li *ngIf="!(isAuthenticated$ | async)" class="nav-item login" [routerLinkActive]="['link-active']">
                        <a class="nav-link" [routerLink]="['/login']">Login</a>
                    </li>

                    <ng-container *ngIf="isAuthenticated$ | async">
                        <!-- <li class="nav-item" [routerLinkActive]="['link-active']">
                            <a class="nav-link text-dark" [routerLink]="['/programs']">Programs</a>
                        </li>

                        <li class="nav-item" [routerLinkActive]="['link-active']">
                            <a class="nav-link text-dark" [routerLink]="['/projects']">Projects</a>
                        </li> -->

                        <li class="nav-item" [routerLinkActive]="['link-active']">
                            <a class="nav-link text-dark" [routerLink]="['/tasks']">Tasks</a>
                        </li>

                        <li *ngIf="isAdmin$ | async" class="nav-item control-panel"
                            [routerLinkActive]="['link-active']">
                            <a class="nav-link" [routerLink]="['/control-panel']">Control Panel</a>
                        </li>

                        <li class="nav-item logout">
                            <a class="nav-link" href="#" (click)="$event.preventDefault(); logout()">Logout</a>
                        </li>

                        <li class="nav-item profile-item">
                            <a class="nav-link text-dark" [routerLink]="['/user', currentUserId$ | async]">
                                <i class="fas fa-user-circle"></i>
                                Profile
                            </a>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </nav>
</header>
