<div class="priority-tasks-container">
    <h2>Priority Tasks</h2>
    <div *ngIf="tasks$ | async as tasks">
        <div *ngIf="tasks.length > 0; else noTasks">
            <div class="task-list">
                <div *ngFor="let task of tasks" class="task-item" (click)="navigateToTask(task.id)">
                    <div class="task-title">{{task.name}}</div>
                    <div class="task-priority" [ngClass]="'priority-' + task.priority.toLowerCase()">
                        {{task.priority}}
                    </div>
                    <div class="task-description">{{task.description}}</div>
                    <div class="task-due-date">Due: {{task.dueDate | date}}</div>
                </div>
            </div>
        </div>
        <ng-template #noTasks>
            <div class="no-tasks-message">
                {{getRandomMessage()}}
            </div>
        </ng-template>
    </div>
</div> 